@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style type="text/css">
.style11 {
	font-size: 24px;
	color: #004d89;
	font-weight: bold;
}
.style13 {font-size: 12px}
.style14 {font-size: 18px}
.style15 {font-size: 10px; color: #FFFFFF; }
</style>

<div class="modal fade" id="legelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">LCB1 :: Legal Notice</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table width="100%" height="337" border="0" cellpadding="0" cellspacing="0" background="file:///H|/Sawangjit/2005-LCB_2nd%20Project/WEB_SITE/Re_web/images/lcb1logotrans.gif">
                    <!--DWLayoutDefaultTable-->
                    <tr>
                        <td width="100%" height="274" valign="top" style="background-image: url(../images/lcb1logotrans.gif);background-repeat: no-repeat;background-size: cover;">
                            <p align="center">
                                <span class="style11"><img src="~/images/lcb1logo.jpg" width="397" height="95"></span><br>
                                <span class="style11"><span class="style14"> -&nbsp;Legal Notice</span> - </span>
                            </p>
                            <div align="center" class="style13">
                                <div align="left">
                                    <blockquote>
                                        <p>All intellectual property rights such as trade marks, service marks, trade names, designs and copyrights are reserved. </p>
                                        <p>Nothing contained in this website may be reproduced without written permission.</p>
                                    </blockquote>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="15" bgcolor="#004D89"><div align="center" class="style15">Copyright 2013 &copy; by LCB CONTAINER TERMINAL 1 LTD.</div></td>
                    </tr>
                    <tr>
                        <td height="15" bgcolor="#004D89"><div align="center" class="style15">Laem Chabang Port, Toong Sukhla, Sriracha, Chonburi 20230 Thailand</div></td>
                    </tr>
                    <tr>
                        <td height="15" bgcolor="#004D89"><div align="center" class="style15">Tel:+(66) 0 3840 8600-99, Fax:+(66) 0 3849 1208-12  </div></td>
                    </tr>
                </table>
      </div>
@*      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>*@
    </div>
  </div>
</div>

