@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Modal -->
<div class="modal fade" id="patModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="position:relative;">
                @*@*<h5 class="modal-title" id="exampleModalLabel">Announcement</h5>*@
                @*<img src="~/images/lcb1lcmtlogo.png" width="200px" align="left" style="padding-bottom: 20px"> *@
                    <img src="~/images/lcb1lcmtlogo.png" width="200px" align="left" style="padding: 10px" />
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute;top:10px;right:10px;"></button>
             
            </div>
            <div class="modal-body">
                <h5>Announcement</h5>
                <div>
                    <p align="left" style="">
                        ทางท่าเรือแหลมฉบังได้นำระบบอิเล็กทรอนิกส์เพื่อช่วยบริหารเวลารถบรรทุกสินค้าเข้าออก หรือ Truck Queue System มาใช้เพื่อบรรเทาปัญหาการจราจรภายในเขตท่าเรือแหลมฉบังนับตั้งแต่ปี 2561 <br><br>
                        และเพื่อพัฒนาระบบการบริหารจัดการจราจรไปอีกขั้น ทางท่าเรือแหลมฉบังได้พัฒนาระบบ Truck Queue System Version 2 ขึ้น โดยมีเป้าหมายจะนำระบบนี้มาใช้ในการจัดการรถบรรทุกที่เข้าออกภายในท่าเรือแหลมฉบัง 100% เพื่อแก้ไขปัญหาการจราจรภายในเขตท่าเรือแหลมฉบังและพื้นที่ใกล้เคียงให้สำเร็จลุล่วงไปได้ และจะทำ <b><u>การทดสอบระบบ Truck Queue System Version 2 ที่ท่าเทียบเรือบี 1 และท่าเทียบเรือเอ 0 ก่อนเป็นอันดับแรกในวันที่ 1 ตุลาคม 2563 </u></b>นี้<br><br>
                        ด้วยเหตุนี้ นับแต่วันที่ 1 ตุลาคม 2563 เป็นต้นไป ทางท่าเรือแหลมฉบัง จึงขอให้ผู้ประกอบการรถขนส่งทุกท่านที่ยังไม่ได้ลงทะเบียนในระบบ Truck Queue โปรดลงทะเบียนในระบบ Truck Queue System และเพื่อความสะดวกในการใช้บริการของท่าน รถบรรทุกที่จะเข้าใช้บริการที่ท่าเทียบเรือบี 1 และเอ0 ควรทำการจองเวลาเข้าเขตท่าเรือแหลมฉบัง ที่<br>

                        <center><span class="h2">
                            <a href="http://www.truckq.port.co.th" target="_BANK">http://www.truckq.port.co.th</a>
                        </span></center>
                        <br>ให้เรียบร้อยก่อนรถจะมาถึงท่าเรือแหลมฉบัง
                        <br><br>
                        หากท่านไม่ได้ทำการจองล่วงหน้า โดยระบบจะแสดงผลช่วงเวลาเร็วที่สุดที่ยังว่างอยู่ในชั่วโมงนั้น ๆ ก่อนเข้าเขตประตูท่าเรือแหลมฉบัง ทั้งนี้ หากมีข้อสงสัยเกี่ยวกับการจอง สามารถติดต่อเจ้าหน้าที่ท่าเรือแหลมฉบังได้ที่ประตู 3 และประตู 4 ได้ตลอด 24 ชั่วโมง
                        <br>หมายเลขโทรศัพท์สายด่วน Truck Queue <b>038-409376, 038-409377, 038-409378</b><br>
                        <b>TruckQ Line Official</b> (ID: @@truckq.lcp)<br>
                        <img src="~/images/TruckQ_Line_Officail.jpg" width="150px" align="left">
                        <br>
                        เอกสารแนะนำการลงทะเบียนและจองคิว สำหรับการทดลองใช้งานการจองคิวของท่า A0,B1<br>
                        
                        &nbsp;&nbsp;<a href="files/System_Manual_Truck_Queue_Version_2.pdf" target="_blank">- System Manual Truck Queue V.2</a><br>
                        &nbsp;&nbsp;<a href="files/Booking_Rules.pdf" target="_blank">- Booking Rules</a>
                       

                    </p>
                </div>
            </div>
            @*      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>*@
    </div>
  </div>
</div>