@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Resource.Statistics;
}
@using LCMTLCB1WebApplication.Resources
<style>
    table#titlebar{
        width: 100%;
    }
    table#titlebar tr{
        height:40px;
    }
    table#titlebar td#title1{
        width:25px;
        background-image: url(../images/TitleBG1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    table#titlebar td#title2{
        background-image: url(../images/TitleBG2.png);
        background-repeat: repeat-x;
    }
    table#titlebar td#title3{
        width:117px;
        background-image: url(../images/TitleBG3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    /*-------------------------------------------------------*/
    /*-------------------------------------------------------*/
    /*--------------------Start Here-------------------------*/
    /*-------------------------------------------------------*/
    /*-------------------------------------------------------*/
    .rowMain{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .rowMain div.titlename{
        margin-bottom: 10px;
    }
    .titlename>span{
        border-bottom: 3px solid #0950A0
    }
</style>

<div>
    <table id="titlebar">
        <tr>
            <td id="title1"></td>
            <td id="title2" class="h2"><strong style="color:#FFFFFF">@Resource.Statistics</strong></td>
            <td id="title3"></td>
        </tr>
    </table>
    <div class="col-sm-12 col-md-12"><center><hr style="width:100%;margin:5px 0 0 0;border: 3px solid #0950A0;opacity:1"></center></div>
    @*-------------------------------------------------------*@
    @*-------------------------------------------------------*@
    @*--------------------Start Here-------------------------*@
    @*-------------------------------------------------------*@
    @*-------------------------------------------------------*@
    <div class="row rowMain">
        <div class="col-lg-1"></div>
        <div class="col-lg-10"><div class="h2 titlename"><span>Statistics: LCB1 Group</span></div></div>
        <div class="col-lg-1"></div>
        <div>
            <img src="~/images/Statistics.jpg" width="100%"/>
        </div>
    </div>
</div>
